name: Build and test PRs

on:
  pull_request:
    types:
      - synchronize
      - opened
      - ready_for_review
      - reopened
  push:
    branches:
      - 'feature/**'
  workflow_dispatch:

jobs:
  build:
    uses: neoforged/actions/.github/workflows/build-prs.yml@main
    with:
      java: 21
      gradle_tasks: test